sudo: required
dist: trusty
language: java
jdk:
  - oraclejdk8
services:
  - mongodb
env:
  - linden-honey_DB_URI=linden-honey:linden-honey@localhost:27017/linden-honey
before_script:
  - sleep 30
  - mongo linden-honey --eval 'db.createUser({user:"linden-honey",pwd:"linden-honey",roles:["readWrite"]});'
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
