version: "3.7"

services:
  db:
    image: postgres:12.1-alpine
    environment:
      POSTGRES_USER: linden-honey
      POSTGRES_PASSWORD: linden-honey
      POSTGRES_DB: linden-honey
    restart: on-failure
    ports:
     - 5432:5432
    networks:
      - internal
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    image: lindenhoney/linden-honey-spring
    build: .
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/linden-honey?user=linden-honey&password=linden-honey
    ports:
      - 8080:80
    networks:
      - internal

volumes:
  db_data:

networks:
  internal:
    driver: bridge
